/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #457B9D;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	color: black;
	p.solid {border-style: solid;} border-color: #457B9D;
	background-image: url(abortion_health_care.jpeg);

}
/*
.hero{
	background-image: url("abortion_health_care.jpeg");
}*/

figcaption {
  background-color: white;
  color: black;
  font-style: italic;
  text-align: left;
  float: right;
  margin-right: 5%;
	margin-left: 5%;
}

figure{
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

p {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;

}

h5{
	font-style: italic;
	font-size: 30px;
	font-family: 'Libre Baskerville';
}
h4 {
	font-style: ;
	font-size: 25px;
	font-family: 'Libre Baskerville', serif;
	color: #457B9D;
}
h3 {
	font-size: 30px;
	font-family: 'Libre Baskerville';
	color: #457B9D;
}

h2 {
	border: 2px;
	border-color: #457B9D;
	border-style: solid;

}

img{
	float: right;
	margin-right: 5%;
	margin-left: 5%;

}
.list{
	font-family: 'Libre Baskerville';
}

/*styles for small screens are here:*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: left;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 50%;
 	margin-right: 10px;
 }
 img{
	float: none;
	margin-right: 5%;
	margin-left: 5%;
}

 .footer p { 
 	background-color: hotpink;
}